<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMPCentral</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header class="banner"></header>
    <div class="content">
        <h1>Welcome to SMPCentral</h1>
        <p>Join our server!</p>
        <p><strong>Server IP: Soon to be released!</strong></p>
    </div>
    <div class="top-buttons">
        <a href="https://discord.gg/maQQmb8Ycj" class="discord-link">Join our Discord!</a>
        <a href="/partners" class="partner-link">Our Partners!</a>
        <a href="/staff" class="staff-link">Our staff!</a>
    </div>
</body>
</html>
