<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMPCentral Partners</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="content">
        <h1>Our Partners</h1>
        <div class="partners">
            <div class="partner">
                <img src="/static/assets/partners/pengon.png" alt="Partner 1">
                <p>Pengon - Descent SMP</p>
            </div>
            <div class="partner">
                <img src="/static/assets/partners/dawot.png" alt="Partner 2">
                <p>Dawot - Vitality SMP</p>
            </div>
            <div class="partner">
                <img src="/static/assets/partners/carm.png" alt="Partner 3">
                <p>Carm - Durability SMP</p>
            </div>
            <!-- Add more partner entries as needed -->
        </div>
    </div>
    <div class="top-buttons">
        <a href="https://discord.gg/maQQmb8Ycj" class="discord-link">Join our Discord!</a>
        <a href="/" class="home page">Back to the main page!</a>
        <a href="/staff" class="staff-link">Our staff!</a>
</body>
</html>
